.container{
  min-height: calc(100vh - 90px);
  width: 100%;
 
}

.wrapper{
  height: 100%;
  width: 100%;
  margin: 0 auto;
  margin-top: 2.5rem;
  display: flex;
  flex-wrap: wrap;
  gap: 3.5rem;
  /* border:1px solid red; */

  /* align-items: center; */
  /* align-content: center;
   */
   justify-content: center;
}

.container > h2{
  text-align: center;
  color: #333;
  margin-top: 1.5rem;
  font-size: 24px;
}